.Footer {
    width: 100%;
    background: #4d4c4c;
}


.Footer .group-links {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4= columnas 1fr una fraccion y ocupa todo el ancho. */
    gap: 50px; /* margen o espacion en la grid */
    padding: 45px 80px;
}

.Footer .logo {
    width: 150px;
    height: 68px;
    margin-left: 76px;
    margin-top: 50px;
    margin-bottom: 40px;
    /* justify-content: center; /* centar horizontalmente */
    /* align-items: center; /* centar verticalmente */
}


.Footer .group-links .links-footer p {
    color: white;
}


.group-copy {
    padding: 45px 80px;
    color: white;
    text-align: center;
}

.img-redes {

    display: inline; 
    padding: 5px;
    justify-items: center;
    width: 168px;
    height: 28px;
    justify-items: center;
    margin: 10px; 
}

@media screen and (max-width:800px) {
    .Footer .group-links {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 38px 74px;
    }
}


@media screen and (max-width:650px) {
    .Footer .group-links {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 70px;
    }
}

















/* footer anterior:::::

.Footer {
    margin: 0;
    background: #3C3C3B;
    color: white;
    padding: 20px;
    font-size: 11px;
    justify-items: center;
}

.links-footer {
    margin: 40px;
}

.group-links {

    display: flex;
    /* padding: 20px; 
    justify-items: center;
    

}

/* .group-img-redes {
    display: flex;
    /* justify-items: center; 


.img-redes {

    /* display: inline; 
    padding: 5px;
    justify-items: center;
    width: 168px;
    height: 28px;
    justify-items: center;
    /* margin: 10px; 
    /* justify-content: space-between; 

}

.copy {
    text-align: center;
}

.logo {
    margin-left: 35px;
}


@media (max-wid:700px) {
    .Footer {
        flex-direction: column;
    }

    .links-footer {
        flex-direction: column;
    }
}

*/